<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Audio Transcription</title>
    </head>
    <body>
        <h1>Audio Transcription</h1>
        <h3>Audio file</h3>
        <form method="post" action="{{ url_for('transcribe') }}" enctype="multipart/form-data">
            <input type="file" id="audio" name="audio" accept="audio/*">
            <br>
            <h3>Number of speakers</h3>
            <select id="num_speaker" name="num_speaker">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
            </select>
            <br>
            <br>
            <input type="submit" value="Transcribe">
        </form>
    </body>
</html>